@import 'style/color.scss';

.LogoDis-logo{
  height: 120px;
  width: 100%;
  box-sizing: border-box;
  padding: 30px 0;
  display: flex;
  justify-content: center;
  background-color: #f6f6f6;
  &-content{
    width: 70%;
    height: 100%;
    display: flex;
    &-title{
      font-size: 25px;
      font-weight: 600;
      color: #464646;
      border: 0;
      border-left: 1px #e6e6e6 solid;
      display: flex;
      align-items: center;
    }
  }
}