@import './color.scss';

*{
  transition: all .2s;
  box-sizing: border-box;
}
body{
  margin: 0;
  box-sizing: border-box;
  padding: 0
}
a{
  text-decoration: none;
  color: $baseFontColorGray;

}
a:active{
  color: $baseFontColorGray;
}

