@import './color.scss';

*{
  // transition: all .2s;
  box-sizing: border-box;
}
body{
  margin: 0;
  box-sizing: border-box;
  padding: 0
}
a{
  text-decoration: none;
  color: $baseFontColorGray;
  cursor: pointer!important;
}
a:active{
  color: $baseFontColorGray;
}
.cur{
  cursor: pointer!important;
}
h3{
  color: #464664!important;
  font-weight: 400!important;
  font-size: 18px!important;
}
// atUI模态框样式修改
.at-modal__header{
  border-bottom: 0!important
}
.at-modal__footer{
  border-top: 0!important
}