@import '../../style/color.scss';

.__Button{
  width: 368px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  outline: none;
  cursor: pointer;
  border: 0;
}